Flask
gunicorn
requests
anthropic
python-dotenv
beautifulsoup4
newspaper3k
stop-words
plotly
flask-cors
loguru
python-dateutil
regex
simplejson
lxml[html_clean]
anthropic
flask-cors
selenium==4.10.0
webdriver-manager==3.8.6
playwright==1.39.0
psycopg2-binary


